.fea-item {
    transition: transform 0.3s ease;
}

.fea-item:hover {
    transform: translateY(-14px);
}

.my-line {
    border-right: 1px solid black;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

<<<<<<< HEAD
/* Hero */
=======
/* Thêm khoảng cách giữa form và header/footer */
.section {
    padding: 2rem 0; 
  }
  
  /* Định dạng cho container của form */
  form {
    background-color: #ffffff; 
    padding: 2rem; 
    border-radius: 0.75rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    max-width: 500px; 
    margin: 3rem auto;
  }
  
  /* Định dạng cho tiêu đề của form */
  h2 {
    font-size: 1.75rem; 
    font-weight: 600; 
    margin-bottom: 1.5rem; 
    color: #61c8f6; 
    text-align: center; 
  }
  .form-group {
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}

.radio-group {
    display: flex;
    align-items: center; 
}

.radio-item {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}

/* Style cho label và input */
.label, .input {
    margin: 0 5px;
}

  /* Định dạng cho nhãn của form */
  label {
    font-size: 1rem; 
    font-weight: 500; 
    color: #4a4a4a; 
    display: block; 
  }
/* Định dạng cho các nhóm radio */
.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
}

/* Định dạng cho các phần tử radio và checkbox */
.radio-item,
.checkbox-item {
  display: flex;
  align-items: center;
}

/* Định dạng cho các input và textarea của form */
input,
textarea,
select {
  width: 100%; 
  padding: 0.25rem; 
  margin-top: 0.5rem; 
  border: 1px solid #d1d5db; 
  border-radius: 0.25rem; 
  outline: none;
}


/* Định dạng cho các input và textarea khi được focus */
input:focus,
textarea:focus,
select:focus {
  border-color: #4a4a4a; 
}

/* Định dạng cho component đánh giá bằng sao */
.star-rating {
    display: flex; 
    gap: 0.25rem; 
  
  }
  
  .star-rating input {
    display: none; 
  }
  
  .star-rating label {
    font-size: 1.5rem; 
    color: #d1d5db; 
    cursor: pointer; 
  }
  
  .star-rating input:checked ~ label,
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #f59e0b; 
  }
   



/* Định dạng cho nút gửi */
button {
    background-color: #61c8f6; 
    color: #ffffff; 
    padding: 0.75rem 1.5rem; 
    border-radius: 0.25rem; 
    cursor: pointer; 
    border: none; 
    display: inline-block; 
    margin-top: 1rem; 
    width: 100%; 
  }
  
  /* Định dạng cho nút gửi khi hover */
  button:hover {
    background-color: #59b3dc;
  }  
>>>>>>> 1ce16ab3b58b889d2bbe1f9b18d52881929ac42f

@keyframes bgZoomOut {
    0% {
      transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
    100% {
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .bg-zoom-out {
    animation: bgZoomOut 1s ease-in-out forwards;
  }
  
  .content-hidden {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s; 
  }
  
  .hero-container {
    overflow: hidden; 
  }
  
  