.fea-item {
    transition: transform 0.3s ease;
}

.fea-item:hover {
    transform: translateY(-14px);
}

.my-line {
    border-right: 1px solid black;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* css product */
.course-item{}